.button
	position: relative
	display: inline-block
	padding: 15px 20px
	background-color: #fff
	font-family: "Press Start 2P", Arial Black, Arial Bold, Arial, sans-serif
	cursor: pointer
	
	&_light
		border-style: solid
		border-width: 4px
		border-color: var(--body-font-color)
		border-image-slice: 2
		border-image-width: 1
		border-image-outset: 0
		border-image-source: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='6' height='6'><path d='M0 2h2v2H0zM2 0h2v2H2zM4 2h2v2H4zM2 4h2v2H2z' fill='#{var(--body-font-color)}' /></svg>")
		position: relative
		background-color: #fff
		
		&::after
			content: ''
			position: absolute
			z-index: 0
			bottom: 0
			right: 0
			width: 100%
			height: 100%
			box-shadow: inset -4px -4px var(--body-font-color)
			opacity: .2
		
		&:hover, &:focus
			background-color: #f2f2f2
	
	&_primary
		color: #fff
		border-style: solid
		border-width: 4px
		border-color: #0c639c
		border-image-slice: 2
		border-image-width: 1
		border-image-outset: 0
		border-image-source: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='6' height='6'><path d='M0 2h2v2H0zM2 0h2v2H2zM4 2h2v2H4zM2 4h2v2H2z' fill='%230c639c' /></svg>")
		position: relative
		background-color: #209cee
		
		&::after
			content: ''
			position: absolute
			z-index: 0
			bottom: 0
			right: 0
			width: 100%
			height: 100%
			-webkit-box-shadow: inset -4px -4px #1081cb
			box-shadow: inset -4px -4px #1081cb
		
		&:hover, &:focus
			background-color: #1190e3
	
	&_success
		color: #fff
		border-style: solid
		border-width: 4px
		border-color: #5b8423
		border-image-slice: 2
		border-image-width: 1
		border-image-outset: 0
		border-image-source: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='6' height='6'><path d='M0 2h2v2H0zM2 0h2v2H2zM4 2h2v2H4zM2 4h2v2H2z' fill='%235b8423' /></svg>")
		position: relative
		background-color: #92cc41
		
		&::after
			content: ''
			position: absolute
			z-index: 0
			bottom: 0
			right: 0
			width: 100%
			height: 100%
			-webkit-box-shadow: inset -4px -4px #77ac2e
			box-shadow: inset -4px -4px #77ac2e
		
		&:hover, &:focus
			background-color: #85c034
	
	&_warning
		border-style: solid
		border-width: 4px
		border-color: #a88f06
		border-image-slice: 2
		border-image-width: 1
		border-image-outset: 0
		border-image-source: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='6' height='6'><path d='M0 2h2v2H0zM2 0h2v2H2zM4 2h2v2H4zM2 4h2v2H2z' fill='%23a88f06' /></svg>")
		position: relative
		background-color: #f7d51d
		
		&::after
			content: ''
			position: absolute
			z-index: 0
			bottom: 0
			right: 0
			width: 100%
			height: 100%
			-webkit-box-shadow: inset -4px -4px #d9b908
			box-shadow: inset -4px -4px #d9b908
		
		&:hover, &:focus
			background-color: #f2ce09
	
	&_error
		color: #fff
		border-style: solid
		border-width: 4px
		border-color: #bc361a
		border-image-slice: 2
		border-image-width: 1
		border-image-outset: 0
		border-image-source: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='6' height='6'><path d='M0 2h2v2H0zM2 0h2v2H2zM4 2h2v2H4zM2 4h2v2H2z' fill='%23bc361a' /></svg>")
		position: relative
		background-color: #e76e55
		
		&::after
			content: ''
			position: absolute
			z-index: 0
			bottom: 0
			right: 0
			width: 100%
			height: 100%
			-webkit-box-shadow: inset -4px -4px #e14828
			box-shadow: inset -4px -4px #e14828
		
		&:hover, &:focus
			background-color: #e45b3f