.menu
	display: flex
	margin-bottom: 3rem
	
	&__item:not(:last-child)
		margin-right: 1rem
			
	&__link
		font:
			size: 1.2rem
			weight: 700
		display: block
		padding: .5rem 1rem
		border:
			width: 2px
			style: dotted
		color: inherit
		text-decoration-line: none
		border-radius: 2px
		
		&:global(.active), &:hover
			color: var(--body-background-color)
			background-color: var(--body-font-color)
			border-color: var(--body-font-color)